---
import { promise } from "astro:schema";
import Card from "./components/Card.astro"

export const shields = {
	github: "https://img.shields.io/badge/GitHub-181717?style=for-the-badge&logo=github&logoColor=white",
	linkedIn: "https://custom-icon-badges.demolab.com/badge/LinkedIn-0A66C2?style=for-the-badge&logo=linkedin-white&logoColor=fff",
	java: "https://img.shields.io/badge/Java-ED8B00?style=for-the-badge&logo=openjdk&logoColor=white",
	python: "https://img.shields.io/badge/Python-FFD43B?style=for-the-badge&logo=python&logoColor=blue",
	go: "https://img.shields.io/badge/Go-00ADD8?logo=Go&logoColor=white&style=for-the-badge",
	node: "https://img.shields.io/badge/node.js-339933?style=for-the-badge&logo=Node.js&logoColor=white",
	godot: "https://img.shields.io/badge/Godot-%23FFFFFF?style=for-the-badge&logo=godot-engine",
	flask: "https://img.shields.io/badge/Flask-000000?style=for-the-badge&logo=Flask&logoColor=white",
	react: "https://img.shields.io/badge/-ReactJs-61DAFB?logo=react&logoColor=white&style=for-the-badge",
	docker: "https://img.shields.io/badge/docker-257bd6?style=for-the-badge&logo=docker&logoColor=white"
}

const shields_array = []

for (const [key, value] of Object.entries(shields)) {
	
  shields_array.push(value)
}

const projects = [
  {
    title: "EcoWell - MSc Project",
    description:
      "A simulated ecosystem where AI-driven creatures interact with a procedurally generated world. Combines inverse kinematics, constraint-based animation, and Wave Function Collapse to breathe life into the environment. Built in Godot with custom GLSL shaders, this project explores the synergy between programming, art, and nature.",
    badges: [shields.godot],
	github: "https://github.com/chark-dev/EcoSystem",
	link: "/ecowell"
  },
  {
	title: "Hive - Project Management CLI",
	description: 
		"A Node.js CLI that allows users to easily access, create and store references to all files related to their creative projects. Built as a tool for myself due to the difficulty of managing ableton file locations.",
	badges: [shields.node],
	github: "https://github.com/chark-dev/hive",
	link: "/hive"
  },
  {
	title: "Rave Builder",
	description:
		"Desktop application built with python and GTK toolkit. A peer to peer application that allows musicians, artists and other storytellers to collaborate on a whiteboard style interface whilst preserving the privacy of their work.",
	badges: [shields.python, shields.go],
	github: "https://github.com/chark-dev/rave_builder",
	link: "/raveBuilder"
  },
  {
	title: "ender-zone",
	description: 
		"Digital space centered around audio. Built with React and Flask, ender-zone serves as a radio station and as an ambiphone/music generation site.",
	badges: [shields.react, shields.flask, shields.docker],
	github: ["https://github.com/chark-dev/ender_zone"],
	link: "/enderZone"
  }
  // Add more projects here
];



---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sakura.css/css/sakura-earthly.css" type="text/css">
		<!-- <link rel="stylesheet" href="/src/pages/style.css" /> -->
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>CM-Dev</title>
	</head>
	<body>
		<!-- <Terminal /> -->
		<div>
			<a href="/">Home</a>
        	<a href="about">About</a>
			<a href="projects">Projects</a>
			<a href="technologies">Tech</a>
			<a href="interests">Interests</a>
			<a href="/blog/">Blog</a>
		</div>

		

        <div id="main">
			<h2>Charlie's Projects:</h2>
			<hr>
		<div class="cards" id="#projects">


			{projects.map(project => (
			<Card title={project.title} description={project.description} badges={project.badges} github={project.github} shields={shields} link={project.link}/>
			))}

		</div>


		<div id="programming">
			<h3>
				My Tech Stack:
			</h3>

		{shields_array.map(shield => (
			<img src={shield} alt="Badge" style="margin: 0.5rem;" />
		))}

		</div>

		<hr>





	</body>
</html>